pipeline/cacheOutput.json
{
	"name": "cacheOutput",
	"properties": {
		"activities": [
			{
				"name": "WeatherRestAPI",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "weatherJson",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WeatherStats",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "WeatherRestAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "weatherStats",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set Avg Temp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WeatherStats",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "avgTemp",
					"value": {
						"value": "@string(activity('WeatherStats').output.runStatus.output.sink1.value[0].avgTemp)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Max Wind",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Avg Temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "maxWind",
					"value": {
						"value": "@string(activity('WeatherStats').output.runStatus.output.sink1.value[0].maxWind)",
						"type": "Expression"
					}
				}
			}
		],
		"policy": {
			"cancelAfter": {
				"duration": "30.00:00:00"
			}
		},
		"variables": {
			"avgTemp": {
				"type": "String"
			},
			"maxWind": {
				"type": "String"
			}
		},
		"annotations": []
	}
}