pipeline/complexDTpipe.json
{
	"name": "complexDTpipe",
	"properties": {
		"activities": [
			{
				"name": "Make files",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "makeComplexDTs",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "dataflowIRwReuse",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "complexDTs",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Make files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "complexDTs",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "dataflowIRwReuse",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "complexDTs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "averageMargin",
					"value": {
						"value": "@activity('complexDTs').output.runstatus.output.values[0].avgMargin",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"averageMargin": {
				"type": "String"
			}
		},
		"annotations": []
	}
}