pipeline/metadatapipeline.json
{
	"name": "metadatapipeline",
	"properties": {
		"description": "Sample metadata checker rules",
		"activities": [
			{
				"name": "metadataChecker",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "metadataChecker",
						"type": "DataFlowReference",
						"parameters": {
							"filename": "'SampleData/moviesDB.csv'",
							"columns": "'movie,title'",
							"dbname": "'products'"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "metadataChecker",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('metadataChecker').output.runStatus.output.OutputToPipeline.value[0].NumBad,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Good Rows",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Bad Rows",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string",
				"defaultValue": "'SampleData/loans.csv'"
			}
		},
		"variables": {
			"metacheck": {
				"type": "String"
			}
		},
		"annotations": []
	}
}