makadfwestus2/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "makadfwestus2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "folderout",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "folderout",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "folderout",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWCustAddress')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AddressID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AddressType",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "CustomerAddress"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWCustomers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Customer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AddressID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AddressLine1",
						"type": "nvarchar"
					},
					{
						"name": "AddressLine2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "StateProvince",
						"type": "nvarchar"
					},
					{
						"name": "CountryRegion",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Address"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseDataSource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "DataSourceTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseDataSource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "DataSourceTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseExternal_ControlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "External control table to store high water mark value.",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseExternal_ControlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "External control table to store high water mark value.",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseExternal_ControlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "External control table to store high water mark value.",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "watermarktable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "ProductDescription"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "justanothertable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableLoans')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "member_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "loan_amnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_amnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_amnt_inv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "term",
						"type": "nvarchar"
					},
					{
						"name": "int_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "installment",
						"type": "float",
						"precision": 15
					},
					{
						"name": "grade",
						"type": "nvarchar"
					},
					{
						"name": "sub_grade",
						"type": "nvarchar"
					},
					{
						"name": "emp_title",
						"type": "nvarchar"
					},
					{
						"name": "emp_length",
						"type": "nvarchar"
					},
					{
						"name": "home_ownership",
						"type": "nvarchar"
					},
					{
						"name": "annual_inc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "verification_status",
						"type": "nvarchar"
					},
					{
						"name": "issue_d",
						"type": "nvarchar"
					},
					{
						"name": "loan_status",
						"type": "nvarchar"
					},
					{
						"name": "pymnt_plan",
						"type": "bit"
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "desc",
						"type": "nvarchar"
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "nvarchar"
					},
					{
						"name": "addr_state",
						"type": "nvarchar"
					},
					{
						"name": "dti",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delinq_2yrs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "earliest_cr_line",
						"type": "nvarchar"
					},
					{
						"name": "inq_last_6mths",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mths_since_last_delinq",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mths_since_last_record",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_acc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pub_rec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "revol_bal",
						"type": "float",
						"precision": 15
					},
					{
						"name": "revol_util",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_acc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "initial_list_status",
						"type": "bit"
					},
					{
						"name": "out_prncp",
						"type": "float",
						"precision": 15
					},
					{
						"name": "out_prncp_inv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_pymnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_pymnt_inv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_rec_prncp",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_rec_int",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_rec_late_fee",
						"type": "float",
						"precision": 15
					},
					{
						"name": "recoveries",
						"type": "float",
						"precision": 15
					},
					{
						"name": "collection_recovery_fee",
						"type": "float",
						"precision": 15
					},
					{
						"name": "last_pymnt_d",
						"type": "nvarchar"
					},
					{
						"name": "last_pymnt_amnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "next_pymnt_d",
						"type": "nvarchar"
					},
					{
						"name": "last_credit_pull_d",
						"type": "nvarchar"
					},
					{
						"name": "collections_12_mths_ex_med",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mths_since_last_major_derog",
						"type": "nvarchar"
					},
					{
						"name": "policy_code",
						"type": "float",
						"precision": 15
					},
					{
						"name": "application_type",
						"type": "nvarchar"
					},
					{
						"name": "annual_inc_joint",
						"type": "nvarchar"
					},
					{
						"name": "dti_joint",
						"type": "nvarchar"
					},
					{
						"name": "verification_status_joint",
						"type": "nvarchar"
					},
					{
						"name": "acc_now_delinq",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tot_coll_amt",
						"type": "nvarchar"
					},
					{
						"name": "tot_cur_bal",
						"type": "nvarchar"
					},
					{
						"name": "open_acc_6m",
						"type": "nvarchar"
					},
					{
						"name": "open_il_6m",
						"type": "nvarchar"
					},
					{
						"name": "open_il_12m",
						"type": "nvarchar"
					},
					{
						"name": "open_il_24m",
						"type": "nvarchar"
					},
					{
						"name": "mths_since_rcnt_il",
						"type": "nvarchar"
					},
					{
						"name": "total_bal_il",
						"type": "nvarchar"
					},
					{
						"name": "il_util",
						"type": "nvarchar"
					},
					{
						"name": "open_rv_12m",
						"type": "nvarchar"
					},
					{
						"name": "open_rv_24m",
						"type": "nvarchar"
					},
					{
						"name": "max_bal_bc",
						"type": "nvarchar"
					},
					{
						"name": "all_util",
						"type": "nvarchar"
					},
					{
						"name": "total_rev_hi_lim",
						"type": "nvarchar"
					},
					{
						"name": "inq_fi",
						"type": "nvarchar"
					},
					{
						"name": "total_cu_tl",
						"type": "nvarchar"
					},
					{
						"name": "inq_last_12m",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "loans"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableLoansNews')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "member_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "loan_amnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_amnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_amnt_inv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "term",
						"type": "nvarchar"
					},
					{
						"name": "int_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "installment",
						"type": "float",
						"precision": 15
					},
					{
						"name": "grade",
						"type": "nvarchar"
					},
					{
						"name": "sub_grade",
						"type": "nvarchar"
					},
					{
						"name": "emp_title",
						"type": "nvarchar"
					},
					{
						"name": "emp_length",
						"type": "nvarchar"
					},
					{
						"name": "home_ownership",
						"type": "nvarchar"
					},
					{
						"name": "annual_inc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "verification_status",
						"type": "nvarchar"
					},
					{
						"name": "issue_d",
						"type": "nvarchar"
					},
					{
						"name": "loan_status",
						"type": "nvarchar"
					},
					{
						"name": "pymnt_plan",
						"type": "bit"
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "desc",
						"type": "nvarchar"
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "nvarchar"
					},
					{
						"name": "addr_state",
						"type": "nvarchar"
					},
					{
						"name": "dti",
						"type": "float",
						"precision": 15
					},
					{
						"name": "delinq_2yrs",
						"type": "float",
						"precision": 15
					},
					{
						"name": "earliest_cr_line",
						"type": "nvarchar"
					},
					{
						"name": "inq_last_6mths",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mths_since_last_delinq",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mths_since_last_record",
						"type": "float",
						"precision": 15
					},
					{
						"name": "open_acc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "pub_rec",
						"type": "float",
						"precision": 15
					},
					{
						"name": "revol_bal",
						"type": "float",
						"precision": 15
					},
					{
						"name": "revol_util",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_acc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "initial_list_status",
						"type": "bit"
					},
					{
						"name": "out_prncp",
						"type": "float",
						"precision": 15
					},
					{
						"name": "out_prncp_inv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_pymnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_pymnt_inv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_rec_prncp",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_rec_int",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_rec_late_fee",
						"type": "float",
						"precision": 15
					},
					{
						"name": "recoveries",
						"type": "float",
						"precision": 15
					},
					{
						"name": "collection_recovery_fee",
						"type": "float",
						"precision": 15
					},
					{
						"name": "last_pymnt_d",
						"type": "nvarchar"
					},
					{
						"name": "last_pymnt_amnt",
						"type": "float",
						"precision": 15
					},
					{
						"name": "next_pymnt_d",
						"type": "nvarchar"
					},
					{
						"name": "last_credit_pull_d",
						"type": "nvarchar"
					},
					{
						"name": "collections_12_mths_ex_med",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mths_since_last_major_derog",
						"type": "nvarchar"
					},
					{
						"name": "policy_code",
						"type": "float",
						"precision": 15
					},
					{
						"name": "application_type",
						"type": "nvarchar"
					},
					{
						"name": "annual_inc_joint",
						"type": "nvarchar"
					},
					{
						"name": "dti_joint",
						"type": "nvarchar"
					},
					{
						"name": "verification_status_joint",
						"type": "nvarchar"
					},
					{
						"name": "acc_now_delinq",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tot_coll_amt",
						"type": "nvarchar"
					},
					{
						"name": "tot_cur_bal",
						"type": "nvarchar"
					},
					{
						"name": "open_acc_6m",
						"type": "nvarchar"
					},
					{
						"name": "open_il_6m",
						"type": "nvarchar"
					},
					{
						"name": "open_il_12m",
						"type": "nvarchar"
					},
					{
						"name": "open_il_24m",
						"type": "nvarchar"
					},
					{
						"name": "mths_since_rcnt_il",
						"type": "nvarchar"
					},
					{
						"name": "total_bal_il",
						"type": "nvarchar"
					},
					{
						"name": "il_util",
						"type": "nvarchar"
					},
					{
						"name": "open_rv_12m",
						"type": "nvarchar"
					},
					{
						"name": "open_rv_24m",
						"type": "nvarchar"
					},
					{
						"name": "max_bal_bc",
						"type": "nvarchar"
					},
					{
						"name": "all_util",
						"type": "nvarchar"
					},
					{
						"name": "total_rev_hi_lim",
						"type": "nvarchar"
					},
					{
						"name": "inq_fi",
						"type": "nvarchar"
					},
					{
						"name": "total_cu_tl",
						"type": "nvarchar"
					},
					{
						"name": "inq_last_12m",
						"type": "nvarchar"
					},
					{
						"name": "skid",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "loansnew"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "loans"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_n1y')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": "DTPDemo1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EmpID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "surrogatekey",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "EmpFunction",
						"type": "nvarchar"
					},
					{
						"name": "Level",
						"type": "nvarchar"
					},
					{
						"name": "Role",
						"type": "nvarchar"
					},
					{
						"name": "StartDate",
						"type": "date"
					},
					{
						"name": "EndDate",
						"type": "date"
					},
					{
						"name": "iscurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "processtime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DimEmp]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimEmp1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EmpID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "surrogatekey",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "EmpFunction",
						"type": "nvarchar"
					},
					{
						"name": "Level",
						"type": "nvarchar"
					},
					{
						"name": "Role",
						"type": "nvarchar"
					},
					{
						"name": "StartDate",
						"type": "date"
					},
					{
						"name": "EndDate",
						"type": "date"
					},
					{
						"name": "iscurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "processtime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DimEmp]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimProductsTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "decimal",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "EffectiveDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Active",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DimProductsTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopyTask_9rl_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopyTask_9rl_20210818"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MainControlTable_9rl"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLProducts_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Demos"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "decimal",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "decimal",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "_Inserted",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_LastUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DWhash",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DimProducts]"
				}
			},
			"dependsOn": []
		}
	]
}